pkgbase = gadak-bin
	pkgdesc = Local SQLite mirror of Jira and Confluence — web UI and agent SQL
	pkgver = 0.17.0
	pkgrel = 1
	url = https://github.com/midagedev/gadak
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = gadak
	conflicts = gadak
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/midagedev/gadak/releases/download/v0.17.0/gadak_0.17.0_linux_amd64.tar.gz
	sha256sums_x86_64 = 383ac89c600c00a570e98292856ba4f1177e462981fb53960bde0bc25b27c375
	source_aarch64 = https://github.com/midagedev/gadak/releases/download/v0.17.0/gadak_0.17.0_linux_arm64.tar.gz
	sha256sums_aarch64 = 66342c2c6e720b5e50b03820f6a8b9c2c6a3a0bbe272d17fa66df9d3aa8bd7bf

pkgname = gadak-bin
